
.top-title {
    font-family: 'Dancing Script', cursive;
    background-color: rgba(56, 2, 65, 0.24);  
    text-align: center; 
}

.third-box {
    flex: 1px;
}

.background-container{
    background-color: rgba(139, 139, 139, 0.13);  
    box-shadow: 0 4px 5px 0  rgba(73, 69, 69, 0.5);
    flex: 1;
}
.btn-color{
    background-color: rgba(56, 2, 65, 0.24);
    border-color: rgba(139, 139, 139, 0.13);
};
}