html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.text-style{
    color: seashell;
}
    .bg-image {
        background-image: url("/image/log_in.jpg");
        background-attachment: fixed;
        background-size: cover;
        box-shadow: inset 0 0 0 1000px rgba(6, 25, 26, 0.2);
        /* Background image is centered vertically and horizontally at all times */
        background-position: center center;
  }    
  

            


