#title {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
   
}

#top_title {
    font-family: 'Dancing Script', cursive;
    background-color: rgb(253, 229, 229);
   
}

#third_box {
    background-color:rgb(176, 250, 228);
}


#top_photo {
/* for  web display */
    width: 70%;
}


#my_container{
    background-color: crimson;  
}