#card_style{
    box-shadow: 0 4px 5px 0  rgba(73, 69, 69, 0.5);
    background-image: url("/image/background.jpg");

}

.info{
    color: rgba(74, 12, 85, 0.5);
}

h5{
    font-family: 'Merienda One', cursive;
    font-size: 30px;
}

P{

    font-size: 20px;
    
}