body{
    background-image: url("/image/background.jpg");
    background-position: center;
    background-size: cover; 

}

#card_style{
    box-shadow: 0 4px 5px 0  rgba(73, 69, 69, 0.5);
    background-color: rgba(18, 80, 92, 0.253);


}

.info{
    color: rgba(38, 14, 42, 0.657);
}

h5,h4{
    font-family: 'Merienda One', cursive;
    font-size: 30px;
    color: rgba(27, 2, 16, 0.74);
}

P{
    font-family: 'Merienda One', cursive;
    font-size: 20px;
    color: rgba(70, 5, 41, 0.801)
}