html{
    height: 100%;
   
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(20, 1, 12, 0.37);
}

.top {
    font-family: 'Dancing Script', cursive;
   color:  rgb(227, 238, 227);
    text-align: center; 
}

.text-color {
    color:  rgb(227, 238, 227);
    padding-top: 4px;
   
}

.bg-image {
    background-image: url("/image/register.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(6, 25, 26, 0.2);
  }