
#top_title {
    font-family: 'Dancing Script', cursive;
   
    text-align: center; 
}

#third_box {
  
    padding-top: 4px;

}


#top_photo {
/* for  web display */
    width: 30%;
}


#formDisplay{
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: auto;
}
